.content {

    padding: 2rem;
    text-align: center;
    align-items: center;

    /*Image*/
    &__img {

        img {
            max-width: 11rem;
            max-height: 11rem;
			padding: .125rem;
            border: .125rem solid $LightestNavy;
            border-radius: 5rem;
        }
    }

    &__title {

        font-size: 1rem;
        color: $NeonGreen;
    }

    &__body {
        
        max-width: 900px;
        margin: auto;
        font-weight: 200;
        font-size: 1.2rem;
        line-height: 2.25rem;
    }
}