@use "variables";

.feature {

	&__grid {
		
		margin-right: 1rem;
		margin-left: 1rem;
		text-align: center;
		// align-items: center;
		background-color: variables.$LightNavy;
	}

	&__item {
		
		padding: 0.125rem;
	}

	&__title {
		
		padding: 1rem;
		font-size: 2rem;
		color: variables.$NeonGreen;
		border: .0625rem solid variables.$LightestSlate;
		
		i:hover {
    		transform: rotate(-180deg);
		}
	}

	// &__icon {
	// 	//	
	// }

	&__description {
		line-height: 1.5rem;
		border: .0625rem solid variables.$LightSlate;

		&__subtitle {
			font-size: 1.5rem;
		}
	}
}