.feature {

	&__grid {
		
		// margin-top: 1.5rem;
		margin-right: 1.5rem;
		margin-left: 1.5rem;
		// align-items: center;
	}

	&__item {
		
		// max-width: 400px;
		border: 1px solid magenta;
		padding: 0.9375rem;
	}

	&__title {
		
		padding: 1rem;
		border: 1px solid rgb(9, 255, 0);
		text-align: center;

		i:hover {
    		transform: rotate(-180deg);
		}
	}

	&__icon {
		//	
	}

	&__description {
		padding: 2rem;
		line-height: 1.5rem;
		border: 1px solid cornflowerblue;
	}
}