html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
    background-color: $Navy;
    color: $LightSlate;
    line-height: 1.3;

    &.no-scroll {
        overflow: hidden;
    }
}

.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


a {
    color: $LightSlate;
    text-decoration: none !important;
}

// a:visited {
//     color: #F6AF44;
//     text-decoration: none !important;
// }


/*Image*/
img
{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 200px;
    max-height: 200px;
    border-radius: 500px;
}


h4
{
    // margin-left: 20px;
    color: $Slate;
}

i:hover {
    color: $NeonGreen;
}

li, p
{
    // margin: 10px;
    // padding-top: 5px;
    color: $LightSlate;
    text-decoration: none !important;
}

/*Social Media handles*/
#social-handles
{
    padding: 10px;
    margin: auto;
    color: $LightestSlate;
    text-align: center;
}

#social-handles > a:hover
{
    color: $NeonGreen;
    text-decoration: none !important;
}

/* Footer */
footer
{
    text-decoration: none !important;
    color: $LightSlate;         /* Gray */
    font-size: 16px;
    text-align: center;
    margin: 10px;
}

/* Hover Over Effect*/
.button, #social-handles a
{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover
{
    color: $NeonGreen;
}


// Flex Box
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// Visibility
.hide-for-mobile {
    @include breakpoint-down(md) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(lg) {
        display: none;
    }
}

// .content {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
// }