.header {

    nav {
        padding: 20px;
    }

    &__logo {

        img {
            width: 50%;
            height: 50%;
            border-radius: 50%;
        }
    }

    &__menu {

        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $u1;
            transition: all 200ms ease-in-out;
            transform-origin: 3px 1px;

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        &.open {

            > span:first-child {
                transform: rotate(45deg);
            }

            > span:nth-child(2) {
                opacity: 0;
            }

            > span:last-child {
                transform: rotate(-45deg);
            }
        }
    }
    
    &__links {

        a {
            position: relative;
            font-size: $font-md;
            color: grey;
            transition: color 300ms ease-in-out;

            &:not(:last-child) {
                margin-right: 32px;
            }
        }

        a:hover {
            color: rgb(120,81,169);
            transition: top ease 0.4s;
        }
    }
}


