.header {

    position: relative;
    z-index: 1;
    border-top: .0625rem solid $LightNavy;
    border-bottom: .0625rem solid $LightNavy;

    // Hamburger Open Styles
    &.open {

        // .overlay {
            // display: block;
        // }

        .header__toggle {

            > span:first-child {
                transform: rotate(45deg);
            }

            > span:nth-child(2) {
                opacity: 0;
            }

            > span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    .overlay {
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: linear-gradient(to bottom, $Navy, $LightestNavy);
    }

    nav {
        position: relative;
        background-color: $Navy;
        padding-top: 1.0625rem;
        padding-bottom: 1.0625rem;
    }
    
    &__logo {

        img {
            width: 3.7rem;
            height: 3.7rem;
            border-radius: 100%;
            background-color: $White;
        }
    }

    &__toggle {

        > span {
            display: block;
            height: .125rem;
            width: 1.625rem;
            background-color: $NeonGreen;
            transition: all 200ms ease-in-out;
            transform-origin: .1875rem .0625rem;

            &:not(:last-child) {
                margin-bottom: .3125rem;
            }
        }
    }

    &__menu {

        position: absolute;
        width: calc(100% -3rem);
        left: 50%;
        transform: translateX(-50%);
        background: $White;
        margin-top: 1.5rem;
        padding: 1.625rem;
        border-radius: 0.4375rem;

        a {
            display: block;
            padding: 0.625rem;
            color: $Casablanca;
            text-align: center;

			transition: all 200ms ease-in-out;
            -webkit-transition: all 150ms ease-in-out;
        }

        a:hover {
            color: $LightNavy;
            background-color: $LightestSlate;
            border-radius: .1875rem;
        }
    }

    &__links {

		transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;

        a {
            position: relative;
			padding: .2rem;
            color: grey;
            font-size: $font-md;

            &:not(:last-child) {
                margin-right: 2rem;
            }
        }

        a:hover {
            // color: $NeonGreen;
			color: $LightNavy;
            background-color: $LightestSlate;
            border-radius: .1875rem;
  		}
	}
}
