.main {

    margin-bottom: 8rem;

    @include breakpoint-up(large) {
        display: flex;
    }

    &__greeting {

        margin-top: 3rem;
        font-size: 1rem;
        color: $NeonGreen;
    }

    &__name {

        font-size: 4.3rem;
        color: $White;
    }

    &__positions {

        font-size: 3.2rem;
		font-weight: 250;
        color: $LightSlate;
    }

	&__typingText {

		color: $Casablanca;
	}

    &__description {

        max-width: 43.75rem;
        font-weight: 300;
        font-size: 1rem;
        color: $LightestSlate;
        line-height: 1.625rem;
    }

    &__button {

        margin-top: 4rem;
        padding: 0.7rem;
        text-align: center;
        align-items: center;
        width: $btn-size-xs;
        // color: $NeonGreen;
        font-size: $font-md;
        border: .0625rem solid $NeonGreen;
        border-radius: .1875rem;

		-webkit-transition-duration: 0.4s;  /* Safari */
  		transition-duration: 0.4s;

        &:hover {
            background-color: $LightestNavy;
        }
    }
}
