@use "mixins";
@use "variables";

.main {

    margin-bottom: 8rem;

    @include mixins.breakpoint-up(large) {
        display: flex;
    }

    &__greeting {

        margin-top: 3rem;
        font-size: 1rem;
        color: variables.$NeonGreen;
    }

    &__name {

        font-size: 4.3rem;
        color: variables.$White;
    }

    &__positions {

        font-size: 3.2rem;
		font-weight: 250;
        color: variables.$LightSlate;
    }

	&__typingText {

		color: variables.$Casablanca;
	}

    &__description {

        max-width: 43.75rem;
        font-weight: 300;
        font-size: 1rem;
        color: variables.$LightestSlate;
        line-height: 1.625rem;
    }

    &__button {

        margin-top: 4rem;
        padding: 0.7rem;
        text-align: center;
        align-items: center;
        width: variables.$btn-size-xs;
        // color: $NeonGreen;
        font-size: variables.$font-md;
        border: .0625rem solid variables.$NeonGreen;
        border-radius: .1875rem;

		-webkit-transition-duration: 0.4s;  /* Safari */
  		transition-duration: 0.4s;

        &:hover {
            background-color: variables.$LightestNavy;
        }
    }
}
