.main {

    font-weight: 100;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-70%) translateY(-55%);

    &__greeting {

        font-size: 1rem;
        color: $NeonGreen;
    }

    &__name {

        font-size: 5rem;
        color: $White;
    }

    &__positions {

        font-size: 3.2rem;
        color: $LightSlate;
    }
    
    &__description {

        margin: 1rem;
        padding-top: 2rem;
        max-width: 40rem;
        font-size: 1rem;
        color: $LightestSlate;
    }
}