.tools {

    max-width: 75rem;
    margin-top: 2rem;

    &__grid {

        max-width: 28.125rem;
        margin-top: 1rem;
        margin-right: auto;
        margin-bottom: 1rem;
        margin-left: auto;
        text-align: center;
        align-items: center;
        background-color: $LightNavy;
        border: .0625 solid $LightSlate;
        border-radius: .125rem;

        &__img {

            img {
                width: 100%;
                height: 100%;
                border-radius: .125rem;
                border: .2rem solid $LightestSlate;
            }
        }

        &__text {
            margin: 1rem;
            padding: 1rem;
            background-color: $LightestNavy;
            border: .0625rem solid #aaa;
        }

        &__button {
            
            margin: auto;
            padding: 0.7rem;
            width: $btn-size-sm;            
            // color: $NeonGreen;
            font-size: $font-md;
            border: .0625rem solid $NeonGreen;
            border-radius: .4375rem;

            &:hover {
                background-color: $LightestNavy;
            }
        }
    }
}