.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 1s ease-in-out forwards;
          animation: fade-in 1s ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 1s ease-in-out forwards;
          animation: fade-out 1s ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  line-height: 1.3;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

a {
  color: grey;
  text-decoration: none !important;
}

/*Image*/
img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 200px;
  max-height: 200px;
  border-radius: 500px;
}

h4 {
  margin-left: 20px;
  color: #5B677D;
}

li, p {
  margin: 10px;
  padding-top: 5px;
  color: gray;
  text-decoration: none !important;
}

/*Social Media handles*/
#social-handles {
  padding: 10px;
  margin: auto;
  text-align: center;
}

#social-handles a:hover {
  color: #447EA6;
  text-decoration: none !important;
}

/* Footer */
footer {
  text-decoration: none !important;
  color: grey;
  /* Gray */
  font-size: 16px;
  text-align: center;
  margin: 10px;
}

/* Hover Over Effect*/
.button, #social-handles a {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  color: #7851a9;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  border-bottom: 1px solid black;
}

.header.open .overlay {
  display: block;
}

.header.open .header__toggle > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(lightblue), to(white));
  background-image: linear-gradient(to bottom, lightblue, white);
}

.header__logo img {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}

.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #F6AF44;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header nav {
  position: relative;
  background-color: white;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
}

.header__menu {
  position: absolute;
  width: calc(100% -3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #fcfcfc;
  margin-top: 1.5rem;
  padding: 1.625rem;
  border-radius: 7px;
}

.header__menu a {
  display: block;
  padding: 0.625rem;
  color: #F6AF44;
  text-align: center;
}

.header__links a {
  position: relative;
  font-size: 1.25rem;
  color: grey;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a:hover {
  color: #7851a9;
  -webkit-transition: top ease 0.4s;
  transition: top ease 0.4s;
}

@media (min-width: null) {
  .feature__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: null) {
  .feature__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.main {
  background-color: #5fc796;
}

.main .greetings {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
/*# sourceMappingURL=style.css.map */