@media only screen and (max-width: 600px) 
{
   #sp-text
   {
        margin: 20px;
        font-size: 30px;
        text-align: center;
        display: block;
   }

    #sp-link a
   {
        font-size: 16px;
        justify-content: center;
        display: block;
        padding: 10px;
   }

   span::after 
   { 
       content: '\A'; 
       white-space: pre; 
    }
}


body
{
    border-top-style: solid;
    border-top-color: black;
    border-top-width: thick;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: thick;
}

.content
{
    max-width: 700px;
    margin: auto;
}

/*Headnote*/
.content-head
{
    padding: 7px;
    margin: 7px;
    font-size: 25px;
}

.content-head a
{
    float: right;
    color: grey;
}

.content-head a:hover
{
    color: rgb(120,81,169);
    border-bottom: 1px solid black;
    text-decoration: none !important;
}

/*List header*/
header
{
    font-size: 50px;
}

/*Body text*/
.content-body
{
    margin: 20px;
    padding: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 20px;
}


/*Social Media handles*/
#social-handles
{
    padding: 10px;
    margin: auto;
    text-align: center;
}

#social-handles a
{
    padding: 5px;
    color: grey;
}

#social-handles a:hover
{
    color: #447EA6;
    text-decoration: none !important;
}

/* Footer */
footer
{
    text-decoration: none !important;
    color: grey;         /* Gray */
    font-size: 16px;
    text-align: center;
    margin: 10px;
}

/*Hower Over Effect*/
.button, #social-handles a
{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover
{
    color: rgb(120,81,169);
}

