.main {
    
    margin-bottom: 13.8rem;
    
    @include breakpoint-up(large) {
        display: flex;
    }

    &__greeting {

        margin-top: 3rem;
        font-size: 1rem;
        color: $NeonGreen;
    }

    &__name {

        font-size: 4.3rem;
        color: $White;
    }

    &__positions {

        font-size: 3.2rem;
        color: $LightSlate;
    }
    
    &__description {

        max-width: 700px;
        font-weight: 300;
        font-size: 1rem;
        color: $LightestSlate;
        line-height: 1.625rem;
    }
}