html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
	justify-content: center;
    align-items: center;
	font-family: Chalkduster, Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 200;
	font-style: oblique;
	color: #a8b2d1;
	background-color: #112240;
}

#brand {
	margin-right: 1.5rem;
	margin-left: 1.5rem;
	font-size: 2.25rem;
	text-align: left;
}

a {
    color: inherit;
    text-decoration: none !important;
}

a:hover {
    color: #64ffda;
}

#options
{
	margin-right: 1.5rem;
	margin-left: 1.5rem;
}

#color-picker, #thickness-picker, #erase
{
	width: 7rem;
}

#draw {
	border: 2px solid gray;
	border-radius: 5px;
	cursor: pointer;
}

footer {
	margin: 1.5rem;
	text-align: center;
	color: thistle;
}

footer:hover {
	color: #64ffda;
}