html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
	justify-content: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: 200;
	/* font-style: oblique; */
	color: #a8b2d1;
	background-color: #112240;
}

a {
    color: inherit;
    text-decoration: none !important;
}

a:hover {
    color: #64ffda;
}

h3 {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #bd8c7d;
}

.header{
    padding: .8rem;
    text-align: center;
    font-size: 2rem;
    background-color: #112240;
    border-top: 1px solid #8892b0;
    border-bottom: 1px solid #8892b0;
}

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    align-items: center;
    font-size: 1.2rem;
    line-height: 2.2rem;
    border: 1px solid cornflowerblue;
}

.todo__list, .notodo__list {
    margin: 1.5rem;
    padding: 2rem;
    border: 1px solid #64ffda;
}

li i:first-child {
    float: right;
}

li i:last-child {
    float: right;
    margin-right: 1rem;
}

i:hover {
    cursor: pointer;
}

.fa-pencil-alt:hover {
    color:green;
}

.fa-trash-alt:hover {
    color:red;
}

footer {
	margin: 1.5rem;
	text-align: center;
	color: thistle;
}

footer:hover {
	color: #64ffda;
}