html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
	justify-content: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: 200;
	/* font-style: oblique; */
	color: #a8b2d1;
	background-color: #112240;
}


.header{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #233554;
}

input {
    margin-left: auto;
}

button {
    margin-left: 2rem;
}

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    text-align: center;
    align-items: center;
    border: 1px solid grey;
}